.cell {
    fill: none;
    stroke: #E9E9E9;    
    fill-opacity: 0;    
    stroke-width: 3;
}

.tile {
    fill: none;
    stroke-opacity: 1;
    fill-opacity: 10%;
    stroke: #E9E9E9;
    stroke-width: 1;
}

.enter_tile_value {
    fill: lime;
}

.fixed_tile_value {
    fill: #E9E9E9;
    font-weight: bold;
}

.update_tile_value {
    fill: #E9E9E9;
}

.exit_tile_value {
    fill: red;
}
