---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <!-- Begin Tag Stuff -->      
      {% if page.tags.size > 0 %}      
      <div class="tag-header">
	<span>	
	<b>Tags:</b>&nbsp;
	{% for tag in page.tags %}
	{% assign tag_pretty = tag | slugify | capitalize %}
	{% if forloop.index > 1 %} | {% endif %}
	<a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag_pretty }}" class="post-tag">{{ tag_pretty }}</a>
	</span>
	{% endfor %}
      </div>
      {% endif %}
      <!-- End Tag Stuff -->      
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
	  {%- endif -%}</p>    
  </header>

  <div class="post-content e-content" itemprop="articleBody">    
    {{ content }}
  </div>


  {% if site.paginate %}

  <div class="blog-pager">
    {% if page.previous.url %}
    <span class="previous">
      <b>
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
      </b>
    </span>
    {% endif %}
    {% if page.next.url %}
    <span class="next">
      <b>
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
      </b>
    </span>
    {% endif %}
  </div>

  {% endif %}
  

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
